.card {
  grid-area: card;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-left: 0;
  padding: 2rem 1rem;
  background-color: #f1f5f9;
  overflow-x: auto;
  min-width: 300px;

  .table-header {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 4px;
    }
  }

  .table-wrapper {
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    .data-table {
      min-width: 100%;
      border-collapse: collapse;
      border-top-width: 1px;
      border-bottom-width: 0px;
      border-color: rgb(21, 22, 22);

      th,
      td {
        padding: 0.5rem;
        text-align: left;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 500;
        color: #333;
        letter-spacing: 0.05em;
        white-space: nowrap;
      }

      tr {
        &:hover {
          background-color: #f3f4f6;
          cursor: pointer;
        }
      }

      tbody {
        background-color: #ffffff;
        border-collapse: separate;
        border-spacing: 0;
        border-top: 1px solid #e5e7eb;
      }

      .l-cell {
        position: relative;

        .l-cell-content {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .popup {
          position: absolute;
          z-index: 10;
          background-color: #fff;
          border: 1px solid #e5e7eb;
          border-radius: 0.375rem;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 0.5rem;
          right: 100%;
          top: 0;
          margin-right: 0.5rem;
          min-width: 100px;
          white-space: nowrap;

          .popup-content {
            span {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 3px;

              .popup-icon-container {
                width: 12px;
                height: 12px;
                position: relative;

                .popup-icon {
                  width: 100%;
                  height: auto;
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }

              p {
                margin: 0;
                padding: 2px 0;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagination-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #333;
    line-height: 1.25rem;
    width: 100%;

    .items-per-page {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      span {
        margin-right: 0.5rem;
      }

      select {
        padding: 0.5rem;
        border: 1px solid #d1d5db;
        border-radius: 0.375rem;
        color: #333;
        background-color: #fff;
      }
    }

    .pagination-buttons {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      button {
        padding: 0.5rem;
        border-radius: 0.375rem;
        background-color: #f3f4f6;
        color: #4b5563;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        &:hover:not(:disabled) {
          background-color: #e5e7eb;
        }
      }

      span {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        input {
          width: 3rem;
          padding: 0.5rem;
          text-align: center;
          border: 1px solid #d1d5db;
          border-radius: 0.375rem;
          color: #333;
          background-color: #fff;
        }
      }
    }
  }

  .table-header-container {
    position: relative;
  }

  .table-header {
    display: flex;
    align-items: center;
  }

  .sort-icon-container {
    margin-left: 4px;
    cursor: pointer;
    position: relative;
  }

  .sort-popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-width: 100px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    aside {
      display: flex;
      flex-direction: column;
      width: 200px;

      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 1px solid #e5e7eb;
        border-radius: 0.375rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;

        .sortpopup-container {
          width: 16px;
          height: 16px;
          position: relative;

          .sortpopup-icon {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

    menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
      }

      .reset{
        color:black;
        background-color: white;
      }
      .filter{
        color:white;
        background-color: #39CDCC;
      }
    }
  }

  .sort-popup p {
    margin: 0;
    padding: 0.25rem 0;
    cursor: pointer;
  }

  .sort-popup p:hover {
    background-color: #f3f4f6;
  }

  .username-cell {
    color: inherit; /* Inherit the color from the parent */
    text-decoration: none; /* Remove default underline */
    transition: text-decoration 0.3s ease;

    &:hover {
      text-decoration: underline;
      background-color: rgb(212, 214, 216);
    }
  }
}
