.detailsccc {
  grid-area: detailsccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 20px;

  @media (min-width: 1024px) {
    margin: 0 60px;
  }

  article {
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    nav {
      color: #213f7d;
      font-size: 16px;
      font-weight: 500;
      padding-left: 20px;
    }

    aside {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 1rem;
      width: 100%;
      justify-items: center;

      menu {
        width: 150px;
        height: 40px;

        p {
          color: #545f7d;
          font-size: 12px;
          margin-bottom: 5px;
        }

        b {
          color: #545f7d;
          font-size: 16px;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
