.detailsbbb {
  grid-area: detailsbbb;
  margin: 0 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  @media (min-width: 1024px) {
    margin: 0 60px;
  }

  .article-top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-top: 10px;

    .aside-a {
      width: 260px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      nav {
        b {
          color: #213f7d;
          font-size: 16px;
          font-weight: 500;
          white-space: nowrap;

          @media (min-width: 400px) {
            font-size: 20px;
          }
        }
        p {
          color: #545f7d;
          font-size: 10px;

          @media (min-width: 400px) {
            font-size: 13px;
          }
        }
      }

      .icon-user-pp-container {
        width: 80px;
        height: 80px;
        position: relative;
        background-color: #e4e4e6;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-user-pp {
          position: absolute;
         /*  width: 100%;
          height: auto;
          top: 0;
          left: 0;
          object-fit: contain; */
        }
      }
    }
    .aside-b {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      border-left: 1px solid #545f7d;
      height: 80%;

      p {
        color: #545f7d;
        font-size: 12px;
        white-space: nowrap;
      }

      span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icon-star-yellow-container {
          width: 16px;
          height: 16px;
          position: relative;

          .icon-star-yellow {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .icon-star-white-container {
          width: 16px;
          height: 16px;
          position: relative;

          .icon-star-white {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
    .aside-c {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0 15px;
      border-left: 1px solid #545f7d;
      height: 80%;

      @media (min-width: 400px) {
        align-items: center;
      }

      b {
        color: #213f7d;
        font-size: 14px;
        font-weight: 500;

        @media (min-width: 400px) {
          font-size: 20px;
        }
      }
      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        color: #213f7d;
        font-size: 10px;

        @media (min-width: 450px) {
          flex-direction: row;
        }
      }
    }
  }

  .article-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    gap: 4rem;
    padding: 5px 20px;

    aside {
      height: 19px;
      font-size: 16px;
      font-weight: normal;
    }

    .aside-green {
      color: #39cdcc;
      border-bottom: 2px solid #39cdcc;
    }
  }
}
