.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 30px;

  div {
    color: #213f7d;
    font-size: 24px; 
    font-weight: 500;
  }
}
